/* test classes to test type faces */
body {
  margin: 0 !important;
}

.neue-regular {
  font-family: "NeueMachinaRegular";
}

.neue-bold {
  font-family: "NeueMachinaBold";
}

.inter {
  font-family: "Inter";
}

.container,
.spacer {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 8rem;
  visibility: hidden;
}

.spacer {
  visibility: visible;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3000px;

}
